**/*.a
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
frames/Makefile
frames/Makefile.in
images/aismaps/Makefile
images/aismaps/Makefile.in
images/CS/Makefile
images/CS/Makefile.in
images/GL/Makefile
images/GL/Makefile.in
images/Makefile
images/Makefile.in
images/tcl_images/Makefile
images/tcl_images/Makefile.in
ini/Makefile
ini/Makefile.in
INSTALL
install-sh
libtool
**/*.lo
ltmain.sh
m4/
Makefile
Makefile.in
missing
**/*.o
**/*.la
src/.libs/**
relay/.deps/**
relay/Makefile
relay/Makefile.in
scripts/Makefile
scripts/Makefile.in
slib/Makefile
slib/Makefile.in
src/.deps/
src/Makefile
src/Makefile.in
src/snowmix
tcl/Makefile
tcl/Makefile.in
test/Makefile
test/Makefile.in
